{% raw %}
{% assign root_url = {% endraw %}"{%- if routes.root_url != "/" -%}{{ routes.root_url }}{%- endif -%}"{% raw %} %}
{% assign currencyFormat = {% endraw %}{{ shop.money_format | json }}{% raw %} %}
{% assign swatch_options = ' '| downcase | split: "~~" | uniq %}
{% assign image_options = '' | downcase | split: "~~" | uniq %}
{% assign text_options   = 'Colour~~Color~~base colour~~Size~~denominations~~age~~wheels~~accessories~~controller~~designs~~dimensions~~doll~~fibre optic length~~fidgetbum~~fix~~flexzi~~grips~~hand~~lightsource~~vat~~Controller' | downcase | split: "~~" | uniq  %}
{% assign denominations_options = 'Denominations' | downcase | split: "~~" | uniq %}
{% assign age_options = 'Age' | downcase | split: "~~" | uniq %}
{% assign show_selected_variant_info = true %}

{% assign image_size = '206x206' %}
{% assign images_count = product.images | size %}
{% assign variants_count = product.variants | size %}
{% assign options_count = product.options | size %}
{% assign no_image = 'https://cdn.shopify.com/s/images/themes/product-1.png' %}
{% assign product_tags = product.tags %}
{% assign featured_image = product.featured_image %}
{% assign product_price = product.price %}
{% assign product_compare_at_price = product.compare_at_price %}
{% assign second_image_index = 2 %}
{% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}
{% assign variant_url = '' %}
{% if product.selected_or_first_available_variant %}{% assign variant_url = '?variant=' | append: product.selected_or_first_available_variant.id %}{% endif %} 
{% if show_selected_variant_info and product.selected_variant %}
{% assign selected_or_first_available_variant = product.selected_variant %}
{% assign product_price = selected_or_first_available_variant.price  %}
{% assign product_compare_at_price = selected_or_first_available_variant.compare_at_price %}
{% if selected_or_first_available_variant.image %}
{% assign featured_image = selected_or_first_available_variant.image %}
{% endif %}
{% endif %}
{% assign giftClass = '' %}

{% for image in product.images %}
    {% if image.id == featured_image.id %}
        {% if forloop.index == images_count %}
          {% assign second_image_index = 1 %}
        {% else %}
          {% assign second_image_index = forloop.index | plus: 1 %}
        {% endif %}
    {% endif %}
{% endfor %}
  {% comment %}
{% assign variant_selected_value = {% endraw %}"{{ selected_or_first_available_variant.selected_options[0].value }}"{% raw %} %}
{% endcomment %}

  

<div{% if showPageData %} data-page="{{page}}" {% endif %}
	class="general-product-card spf-col-xl-3 spf-col-lg-3 spf-col-md-4 spf-col-xs-12 spf-col-sm-4 spf-col-6 pro-list {% if product.tags contains 'gift-card' %} gift-card{% endif %}">
	<div class="spf-product-card spf-product-card__left spf-product-card__template-5{% unless product.available %} spf-soldout{% endunless %}"> 
		<div class="spf-product-card__inner product_grpup_sticker">
  
			{% unless product.available %}
			<span translatable class="spf-product__label spf-product__label-soldout">{{translation.product.sold_out |
				default: "Sold out"}}</span>
			{% elsif product_compare_at_price > product_price %}
              <span class="sale_animation">
                                    <img src="{{ 'sale-tag.png' | asset_url }}" alt="sale-tag">
                                </span>
              {% comment %}
			<span translatable class="spf-product__label spf-product__label-sale sale-text">
				{{translation.product.sale | default: "Sale"}}
			</span>
            {% endcomment %}
			{% endunless %}
  
			{% comment %}
			<a class="spf-product-card__image-wrapper{% if images_count > 1 %} hover-effect{% endif %}"
				href="{{root_url}}{{ product.url | within: collection }}{{variant_url}}" style="padding-top:100%;">
				{% endcomment %}
                {% if product.metafields.custom.markers %}
                        <img src="{{ product.metafields.custom.markers | image_url: width: 100 | image_tag }}"  class="product_sticker" alt="product" >
                      {% endif %}
				<a class="spf-product-card__image-wrapper {% if images_count > 1 %} hover-effect{% endif %}"
					title="Quick view" href="{{root_url}}{{ product.url | within: collection }}{{variant_url}}" 
					style="padding-top:100%;"> 
                  {% comment %}
                    {% if selected_or_first_available_variant.selected_options[0].name == "VAT" %}
                      <span data-bs-toggle="tooltip" class="badge rounded-pill text-bg-primary mb-2" data-bs-placement="top"
        				data-bs-title="Parents and carers of chronically sick or disabled children are eligible to receive VAT relief, this will be applied at checkout">
                        VAT Relief
                      </span>
                    {% endif %}
                  {% endcomment %}
                      {% comment %}href="javascript:;" onclick="globofilter.quickView('{{root_url}}{{ product.url | within: collection }}')" {% endcomment %}
                    {% if images_count > 0 %}
    					{% for image in product.images %}
        					<img data-variants="{% if image.variant_ids %}{{image.variant_ids | join: ','}}{% endif %}"
        						class="gflazyload spf-product-card__image spf-product-card__image-{% if featured_image.id == image.id %}main{% elsif forloop.index == second_image_index %}secondary{% else %}hidden{% endif %}"
        						srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        						src="{{image.src | img_url: image_size}}" data-src="{{image.src | img_lazyload_url}}"
        						data-sizes="auto" data-aspectratio="{{image.aspect_ratio}}" data-parent-fit="contain"
        						alt="{{image.alt | escape}}" />
    					{% endfor %}
					{% else %}                      
					<img data-variants="" class="gflazyload spf-product-card__image spf-product-card__image-main"
						src="{{no_image}}" alt="{{product.title | escape}}" >
					{% endif %}
				</a>
				<div class="spf-product__swatchs_container">

					{% for option in product.options %}
					{% assign option_index = 'option' | append: forloop.index %}
					{% assign option_name = option.name | downcase %}
					{% assign option_index_number = forloop.index %}
					{% if swatch_options contains option_name or text_options contains option_name or image_options
					contains option_name or denominations_options contains option_name or age_options contains
					option_name %}
					<div class="spf-product__swatchs">
						{% for value in option.values %}
						    {% assign available = false %}
						    {% assign swatch_image = false %}
    						{% for variant in product.variants %}
        						{% if variant[option_index] == value %}
            						{% if swatch_image == false and variant.image %}
                						{% assign swatch_image = variant.image.src %}
            						{% endif %}
    						        {% if variant.available %}
    						           {% assign available = true %}
    						        {% endif %}
    						    {% endif %}
    						{% endfor %}
						    {% assign option_value = value | downcase %}
						    <span data-option="{{option_index_number}}" data-tags="{{ product.tags }}"
                              
							class="spf-product__swatch {{ value }} {{ forloop.index }} {% if product.selected_variant and product.selected_variant[option_index] == value  %} is-selected {% elsif  forloop.index == 1 %} is-selected {% else %}{% endif %}{% unless available %} soldout{% endunless %}"
							title="{{value | escape}}">
							<span translatable class="spf-product__swatch-inner ">
								{% if image_options contains option_name and swatch_image %}
      								<span class="spf-product__swatch-image"
      									style="background-image: url('{{ swatch_image | img_url: '24x' }}')"></span>
    							{% elsif swatch_options contains option_name %}
            						{% if swatches[option_name] and swatches[option_name][option_value] %}
            								{% if swatches[option_name][option_value].mode == 1 %}
            								<span class="spf-product__swatch-color"
            									style="background-color: {{ swatches[option_name][option_value].color_1 }}"></span>
            								{% elsif swatches[option_name][option_value].mode == 2 %}
            								<span class="spf-product__swatch-color"
            									style="background-color: {{ swatches[option_name][option_value].color_1 }}"></span>
            								<span class="spf-product__swatch-color"
            									style="border-right-color: {{ swatches[option_name][option_value].color_2 }}"></span>
            								{% elsif swatches[option_name][option_value].mode == 3 %}
            								<span class="spf-product__swatch-image"
            									style="background-image: url('{{ swatches[option_name][option_value].image }}')"></span>
            								{% endif %}
    								{% elsif option_name contains 'colo' %}
        								{% assign value_handle = option_value | handle %}
        								{% assign value_jpg = value_handle | append: '.jpg' %}
        								{% assign value_png = value_handle | append: '.png' %}
        								{% assign value_jpeg = value_handle | append: '.jpeg' %}
        								<span class="spf-product__swatch-image"
        									style="background-color: {{ option_value | replace:"'", "\'" | escape_once }};{% if images contains value_jpg %}background-image: url('{{ value_jpg | asset_img_url: '50x' | prepend: 'https:' }}'){% elsif images contains value_png %}background-image: url('{{ value_png | asset_img_url: '50x' | prepend: 'https:' }}'){% elsif images contains value_jpeg %}background-image: url('{{ value_jpeg | asset_img_url: '50x' | prepend: 'https:' }}'){% endif %}"></span>
    								{% else %}
        								<span class="spf-product__swatch-text">{{value}}</span>
    								{% endif %}
								{% else %}
      								<span class="spf-product__swatch-text">{{value}}</span>
								{% endif %}
							</span>
						</span>
						{% endfor %}
					</div>
					{% endif %} {% endfor %}
				</div>
		</div>
        {% assign bespokeCollection = false %}
        {% for tagcheck in product.tags %}
          {% if tagcheck == 'bespoke' %}
              {% assign bespokeCollection = true %}
          {% endif %}
        {% endfor %}
		<div class="spf-product__info">
			<!--{% if product.vendor %}<div class="spf-product-card__vendor"><a href="/collections/vendors?q={{product.vendor | url_encode}}">{{product.vendor}}</a></div>{% endif %} -->
			<div class="h4 spf-product-card__title">
				<a translatable href="{{root_url}}{{ product.url | within: collection }}{{variant_url}}">{{product.title | slice: 0, 33  }}...</a>
			</div>
            
            {% comment %}
			<span {% if selected_or_first_available_variant.global.vat_relief_variant %} data-bs-toggle="tooltip"
				class="badge rounded-pill text-bg-primary mb-2" data-bs-placement="top"
				data-bs-title="Parents and carers of chronically sick or disabled children are eligible to receive VAT relief, this will be applied at checkout"
				{% else %} class="badge rounded-pill mb-2" {% endif %}>
				{% if selected_or_first_available_variant.global.vat_relief_variant %}
				Vat Relief
				{% endif %}
			</span>
          {% endcomment %}
          {% if bespokeCollection == false %}
			<div class="spf-product-card__price-wrapper">
				<div class="normal-price 2">
					{% if product_compare_at_price > product_price %}
					<span class="spf-product-card__oldprice{% unless currencyFormat contains 'money' %} money{% endunless %}">
                      {{ product_compare_at_price | money | replace: ",", "." }}</span>
					<span class="spf-product-card__saleprice{% unless currencyFormat contains 'money' %} money{% endunless %}">
                      {{ product_price | money | replace: ",", "." }}</span>
					{% else %}
					<span class="spf-product-card__price 1{% unless currencyFormat contains 'money' %} money{% endunless %}">
                      {{ product_price | money  | replace: ",", "."}}</span>
					{% endif %}
				</div>
				<div class="has-tax-price">
					{% if product_compare_at_price > product_price %}
    					<span class="spf-product-card__oldprice{% unless currencyFormat contains 'money' %} money{% endunless %}">Old
    						Price : {{ product_compare_at_price | money | replace: ",", "." }}</span>
    					<span  class="spf-product-card__price 2{% unless currencyFormat contains 'money' %} money{% endunless %}">
						    incl. VAT : {{ product_price | money | replace: ",", "." }}
                        </span>
					{% else %}
    					{% assign priceEx = product_price | divided_by: 1.20 %}
    					{% assign priceExClass = '' %}
    					{% assign priceLabel = 'incl. VAT' %}
                      {{ selected_or_first_available_variant.selected_options.value | escape }}
    					{% if product.metafields.global.is_tax_free == 'true' %}
        					{% assign priceEx = 0 %}
        					{% assign priceExClass = 'style="visibility:hidden"' %}
        					{% assign priceLabel = 'No. VAT' %}
    					{% endif %}
                      {% comment %}
                      {{  selected_or_first_available_variant | json  }}
                      {% endcomment %}
                      
                      {% if selected_or_first_available_variant.selected_options[0].value == "VAT Exempt" or selected_or_first_available_variant.selected_options[1].value == "VAT Exempt" or selected_or_first_available_variant.selected_options[2].value == "VAT Exempt" or selected_or_first_available_variant.selected_options[0].value == "Excluding VAT" or selected_or_first_available_variant.selected_options[1].value == "Excluding VAT" or selected_or_first_available_variant.selected_options[2].value == "Excluding VAT" %}
                      <span class="spf-product-card__price 3{% unless currencyFormat contains 'money' %} money{% endunless %}">
    						{{ priceLabel }} : {{ selected_or_first_available_variant.price | times:1.20 | times: 100 | floor | divided_by: 100 | money }}</span>
        				<span class="mb-2 mt-1 ex-vat-price" {{ priceExClass }}> excl. VAT : {{ selected_or_first_available_variant.price | money  }}</span>
                      {% else %}
    					<span class="spf-product-card__price 4 1{% unless currencyFormat contains 'money' %} money{% endunless %}  ">
    						{{ priceLabel }} : {{ selected_or_first_available_variant.price  | money  }}</span>
                      
        				<span class="mb-2 mt-1 ex-vat-price" {{ priceExClass }}> excl. VAT : {{ selected_or_first_available_variant.price | divided_by:1.20   |money }}</span>
                        {% endif %}
					{% endif %}
				</div>

			</div>
            {% endif %}
			<form class="cart_form_cls" action="/cart/add" method="post" id="{{product.variants[0].id | escape}}">
               {% if bespokeCollection == false %}
                    <input type="hidden" name="variant_id" value={{ product.variants[0].id | escape }} />
                    <input type="hidden" name="properties[tax_free]" id="is_prod_tax_free" value="{{ product.metafields.global.is_tax_free }}">
                    <input type="hidden" name="properties[ex_price]" id="ex_price" value="{{ priceEx }}">

<select name="id" class="spf-product__variants">
    					{% for variant in product.variants %}
    					<option data-option1="{{variant.option1 | escape}}" data-option2="{{variant.option2 | escape}}"
    						data-option3="{{variant.option3 | escape}}" data-price="{% if variant.option1 == 'VAT Exempt' %}{{variant.price | times:1.20 }}{% else %}{{variant.price  }}{% endif %}"
    						data-compare_at_price="{{variant.compare_at_price}}" data-available="{{variant.available}}"
    						data-image="{% if variant.image.src %}{{variant.image.src | img_url: image_size }}{% endif %}"
    						{% if variant.id==selected_or_first_available_variant.id %} selected="selected" {% endif %}
    						value="{{ variant.id }}">{{ variant.title }}</option>
    					{% endfor %}
    				</select>
                 
      <div class="button-group">
    				<button translatable {% unless product.available %}disabled{% endunless %} type="button" onclick="submitForm({{product.variants[0].id | escape}})"
    					class="btn btn-primary add_to_cart_btn" data-available="{{translation.product.add_to_cart | default: " Add to
    					cart"}}" data-soldout="{{translation.product.sold_out | default: " Sold out"}}"
    					data-unavailable="{{translation.product.unavailable | default: " Unavailable"}}">
    					<img src="{{ 'cart-pro.svg' | asset_url }}">
    					<span class="add_to_cart_txt">{% if product.available %}{{translation.product.add_to_cart | default: "Add To Cart"}}{% else
    						%}{{translation.product.sold_out | default: "Sold Out"}}{% endif %}</span>
    				</button>
                {% endif %}
               
                   <button class="st-wishlist-button" type="button" data-type="product-card" data-handle="{{product.handle}}"></button>
				    <!-- Swym Wishlist Plus EPI Button-->
                    {% comment %} <button 
                        data-with-epi="true" 
                        class="wishlist_button action--wishlist tile-actions--btn flex btn btn-secondary swym-button swym-add-to-wishlist-view-product product_{{product.id}}" 
                        data-swaction="addToWishlist" 
                        data-product-id="{{product.id | json}}" 
                        data-variant-id="{{product.variants[0].id}}" 
                        data-product-url="https://learningspace-dev.myshopify.com{{ product.url }}">
                      <img src="{{ 'heart.svg' | asset_url }}">
                      <span class="wishlist_txt">Wishlist</span>
                    </button> {% endcomment %}
                    <!-- Swym Wishlist Plus EPI Button-->
                  </div>

			</form>
		</div>
	</div>
	</div>
	{% endraw %}
