<style>
  #shopify-section-{{ section.id }} h4 {margin-bottom: 40px;}
  #shopify-section-{{ section.id }} .view-link {text-decoration: underline;}
  #shopify-section-{{ section.id }} .view-link:hover {text-decoration: none;}
</style>

{% if collections['featured-toys-and-educational-resources'].products.size > 0 %}
<section class="feature-pro" data-customer-type="default">
	<div class="container-fluid">
		<h2 class="mb-3 mt-2">{{ section.settings.heading }}</h2>
      <div class="row">
        {% if section.settings.sub_heading != blank %}
        <div class="col-6"><h4>{{ section.settings.sub_heading }}</h4></div>
        {% endif %}
        {% if section.settings.view_all == true %}
        <div class="col-6 text-end">
          <a href="{{ collections['featured-toys-and-educational-resources'].url }}" class='view-link'>{{ section.settings.view_all_label }}</a>
        </div>
        {% endif %}
      </div>
		<div class="row">
	 {% paginate collections['featured-toys-and-educational-resources'].products by 4 %}	
	 {% assign products = collections['featured-toys-and-educational-resources'].products  %}	
      {% for product in products  %}
          {%- assign price = product.selected_or_first_available_variant.price -%}
        
		  {% render 'card-product',
		  card_product: product,
		  price: price,
		  handle: product.handle,
		  variant_size: product.variants.size,
		  variants: product.variants,
            collections: product.collections
		%}
		{% endfor %}
		{% endpaginate %}
		</div>
	</div>
</section>
{% endif %}
{% schema %} 
{ "name": "Featured Products",
  "settings":[
    {
  	  "type": "text",
  	  "id": "heading",
  	  "label": "Heading Tilte",
  	  "default":"Featured Products"
    },
    {
  	  "type": "text",
  	  "id": "sub_heading",
  	  "label": "Sub heading Tilte"
    },
    {
  	  "type": "checkbox",
  	  "id": "view_all",
  	  "label": "Show view all link"
    },
    {
  	  "type": "text",
  	  "id": "view_all_label",
  	  "label": "Show view all",
  	  "default": "View all"
    }
  ] ,
  "presets": 
  [ 
      { 
          "name": "Featured Products" 
      }    
  ]
} {% endschema %}