<!-- /templates/customers/reset_password.liquid -->
<div class="container-fluid login-section" >
	<div class="row mb-5">
        <div class="col-12 col-md-4 offset-md-4 p-5">
        	<p class="text-center mb-5">
				{{ 'customer.recover_password.title' | t }}
  			</p>
  			<div>
    			<i>
      				{{ 'customer.recover_password.subtext' | t }}
    			</i>
                <br />
{%- form 'reset_customer_password' -%}
 

  <div class="password">
    <label for="password">Password</label>
    <input
      type="password"
      name="customer[password]"
      id="password"
      class="form-control"
    >
    
  </div>

  <div class="password_confirm">
    <label for="password_confirmation">Confirm password</label>
    <input
      type="password"
      name="customer[password_confirmation]"
      id="password_confirmation"
      class="form-control"
    >
    
  </div>
  {%- if form.errors -%}
                <small id="RecoverEmail-email-error" class="form__message text-danger">
                    {{ form.errors.messages['form'] }}
                </small>
              {%- endif -%}

  <div class="d-grid gap-2 mt-5 d-flex justify-content-center">
                <button class="btn btn-button" type="submit">{{ 'customer.login_page.submit' | t }}</button>
                <button class="btn btn-a" id="cancel_forgot" type="reset">{{ 'customer.login_page.cancel' | t }}</button>
              </div>    
{%- endform -%}
  			</div>
        </div>
    </div>    
</div>