{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign collection = section.settings.collection
  assign collection_show = section.settings.collection_show

  assign scrolling_velocity = section.settings.scrolling_velocity
  assign scrolling_velocity_mobile = section.settings.scrolling_velocity_mobile
  assign scrolling_gap = section.settings.scrolling_gap
  assign scrolling_gap_mobile = section.settings.scrolling_gap_mobile
  assign reverse_direction = section.settings.reverse_direction
  assign pause_hover = section.settings.pause_hover

  assign image_width = section.settings.image_width
  assign image_width_mobile = section.settings.image_width_mobile
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height
  assign title_mt = section.settings.title_mt
  assign title_mt_mobile = section.settings.title_mt_mobile
  assign title_align = section.settings.title_align
  assign title_align_mobile = section.settings.title_align_mobile
  assign use_hover = section.settings.use_hover
  assign title_hide_mobile = section.settings.title_hide_mobile

  assign title_horizontal_align = ""
  if title_align == "center"
    assign title_horizontal_align = "center"
  elsif title_align == "right"
    assign title_horizontal_align = "end"
  else
    assign title_horizontal_align = "start"
  endif

  assign title_horizontal_align_mobile = ""
  if title_align_mobile == "center"
    assign title_horizontal_align_mobile = "center"
  elsif title_align_mobile == "right"
    assign title_horizontal_align_mobile = "end"
  else
    assign title_horizontal_align_mobile = "start"
  endif

  assign use_price = section.settings.use_price
  assign price_compare = section.settings.price_compare
  assign price_color = section.settings.price_color
  assign price_original_color = section.settings.price_original_color
-%}

{%- style -%}
  {{  title_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .scrolling-wrapper-{{ section.id }} {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    scrollbar-width: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-attachment: scroll !important;
  }

  .scrolling-list-{{ section.id }} {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    height: 100%;
    background-attachment: scroll !important;
    -webkit-animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;
    animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;
    flex-shrink: 0;
  }

  .scrolling-card-{{ section.id }} {
    display: flex;
    flex-direction: column;
    margin-right: {{ scrolling_gap_mobile }}px;
    width: {{ image_width_mobile }}px;
    text-decoration: none;
  }

  .scrolling-image-{{ section.id }} {
    overflow: hidden;
    background-attachment: scroll !important;
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    flex-shrink: 0;
    width: 100%;
  }

  .scrolling-image-{{ section.id }} img,
  .scrolling-image-{{ section.id }} svg {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover
  }

  .scrolling-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .scrolling-title-{{ section.id }} {
    margin: 0;
    max-width: {{ image_width_mobile }}px;
    text-align: {{ title_align_mobile }};
    margin-top: {{ title_mt_mobile }}px;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    text-wrap: wrap;
    word-break: break-word;
    opacity: 1;
    transition: all 0.25s ease 0s;
  }

  .scrolling-price-{{ section.id }} {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: {{ title_horizontal_align_mobile }};
    gap: 5px;
    opacity: 1;
  }

  .scrolling-price-{{ section.id }} * {
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    color: {{ price_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    font-style: normal;
  }

  .scrolling-compare-price-{{ section.id }} {
    opacity: 0.8;
    font-size: {{ title_size_mobile | times: 0.8 }}px;
    color: {{ price_original_color }};
    text-decoration: line-through !important;
  }

  .collections-navigation-{{ section.id }} {
    margin-top: {{ title_mt_mobile }}px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .scrolling-list-{{ section.id }} {
      -webkit-animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity }}s infinite linear;
      animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity }}s infinite linear;
    }

    .scrolling-card-{{ section.id }} {
      margin-right: {{ scrolling_gap }}px;
      width: {{ image_width }}px;   
    }

    .scrolling-title-{{ section.id }} {
      max-width: {{ image_width }}px;
      text-align: {{ title_align }};
      margin-top: {{ title_mt }}px;
      font-size: {{ title_size }}px;
    }

    .scrolling-price-{{ section.id }} {
      justify-content: {{ title_horizontal_align }};
    }
    
    .scrolling-price-{{ section.id }} {
      margin-top: 8px;
    }    

    .scrolling-price-{{ section.id }} * {
      font-size: {{ title_size }}px;
    }

    .scrolling-compare-price-{{ section.id }} {
      font-size: {{ title_size | times: 0.8 }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .scrolling-title-{{ section.id }},
    .scrolling-price-{{ section.id }} * {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .scrolling-image-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
  .scrolling-image-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .scrolling-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .scrolling-image-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .scrolling-image-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
    
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .scrolling-image-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .scrolling-image-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }    
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .scrolling-image-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if reverse_direction %}
  <style>
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  </style>
{% else %}
  <style>
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  </style>
{% endif %}

{% if pause_hover %}
	<style>
    .scrolling-wrapper-{{ section.id }}:hover .scrolling-list-{{ section.id }} {
      animation-play-state: paused
    }
	</style>
{% endif %}

{% if use_hover %}
  <style>
    @media(min-width: 1024px) {
      .scrolling-title-{{ section.id }} {
        opacity: 0;
        transition: all 0.25s ease 0s;
      }
      
      .scrolling-card-{{ section.id }}:hover  .scrolling-title-{{ section.id }} {
        opacity: 1;
        transition: all 0.25s ease 0s;
      }

      .scrolling-price-{{ section.id }} {
        opacity: 0;
        transition: all 0.25s ease 0s;
      }

      .scrolling-card-{{ section.id }}:hover .scrolling-price-{{ section.id }} {
        opacity: 1;
        transition: all 0.25s ease 0s;
      }
    } 
  </style>
{% endif %}

{% if title_hide_mobile %}
  <style>
    @media(max-width: 1024px) {
      .scrolling-title-{{ section.id }},
      .scrolling-price-{{ section.id }}{
        display: none;
      }
    }
  </style>
{% endif %}

{% capture list %}
  <div class="scrolling-list-{{ section.id }}">
    {% for item in (1..3) %}
      {% if collection != blank %}
        {% for product in collections[collection].products limit: collection_show %}
          <a href="{{ product.url }}" class="scrolling-card-{{ section.id }}">
            <div class="scrolling-image-{{ section.id }}">                 
              {% if product.featured_image != blank %}
                <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}> 
              {% else %}  
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </div>
            <h3 class="scrolling-title-{{ section.id }}">{{ product.title }}</h3>
            {% if use_price %}
              <div class="scrolling-price-{{ section.id }}">
                <p class="scrolling-regular-price-{{ section.id }}">{{ product.price | money }}</p>
                {% if product.compare_at_price != blank and price_compare %}
                  <strong>-</strong> <p class="scrolling-compare-price-{{ section.id }}">{{ product.compare_at_price | money }}</p>
                {% endif %}
              </div>
            {% endif %}            
          </a>   
        {% endfor %}
      {% else %}
        {% for block in section.blocks %}
          <{% if block.settings.custom_url != blank %}a href="{{ block.settings.custom_url }}"{% elsif block.settings.product.url != blank %}a href={{ block.settings.product.url }}{% else %}div{% endif %} class="scrolling-card-{{ section.id }}">
            <div class="scrolling-image-{{ section.id }}">                 
              {% if block.settings.custom_image != blank %}
                <img src="{{ block.settings.custom_image | image_url }}" alt="{{ block.settings.custom_image.alt }}" {% if lazy %}loading="lazy"{% endif %}> 
              {% elsif block.settings.product.featured_image != blank %}
                <img src="{{ block.settings.product.featured_image | image_url }}" alt="{{ block.settings.product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}> 
              {% else %}  
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </div>
            {% if block.settings.custom_title != blank or block.settings.product.title != blank %}
            <h3 class="scrolling-title-{{ section.id }}">
              {% if block.settings.custom_title != blank %}
                {{ block.settings.custom_title }}
              {% elsif block.settings.product.title != blank %}
                {{ block.settings.product.title }}
              {% endif %}
            </h3>
            {% if use_price %}
              <div class="scrolling-price-{{ section.id }}">
                <p class="scrolling-regular-price-{{ section.id }}">{{ block.settings.product.price | money }}</p>
                {% if block.settings.product.compare_at_price != blank and price_compare %}
                  <strong>-</strong> <p class="scrolling-compare-price-{{ section.id }}">{{ block.settings.product.compare_at_price | money }}</p>
                {% endif %}
              </div>
            {% endif %}    
            {% endif %}
          </{% if block.settings.custom_url != blank or block.settings.product.url != blank %}a{% else %}div{% endif %}>            
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
{% endcapture %}

<div class="section-{{ section.id }} scrolling-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="scrolling-wrapper-{{ section.id }}">
        {{ list }}
        {{ list }}
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "SS - Scrolling products 2",
    "settings": [
      {
        "type": "header",
        "content": "Collection settings"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "info": "Leave blank to show products from the blocks"
      },
      {
        "type": "range",
        "id": "collection_show",
        "min": 5,
        "max": 50,
        "step": 1,
        "label": "Products to show",
        "default": 30
      },
      {
        "type": "header",
        "content": "Scrolling settings",
         "info": "The theme editor may display incorrect scrolling speed; please verify on the live site."
      },
      {
        "type": "range",
        "id": "scrolling_velocity",
        "min": 10,
        "max": 150,
        "step": 2,
        "label": "Speed",
        "info": "⚡ <----------------> 🐌",
        "default": 80
      },
      {
        "type": "range",
        "id": "scrolling_velocity_mobile",
        "min": 10,
        "max": 150,
        "step": 2,
        "label": "Speed mobile",
        "info": "⚡ <----------------> 🐌",
        "default": 80
      },
      {
        "type": "range",
        "id": "scrolling_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 20
      },
      {
        "type": "range",
        "id": "scrolling_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 20
      },
      {
        "type": "checkbox",
        "id": "reverse_direction",
        "label": "Reverse scrolling direction"
      },
      {
        "type": "checkbox",
        "id": "pause_hover",
        "label": "Pause on hover",
        "default": true
      },
      {
        "type": "header",
        "content": "Image settings"
      },    
      {
        "type": "range",
        "id": "image_width",
        "min": 100,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Width",
        "default": 240
      },
      {
        "type": "range",
        "id": "image_width_mobile",
        "min": 100,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Width - mobile",
        "default": 150
      },
      {
        "type": "range",
        "id": "image_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "range",
        "id": "image_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },  
      {
        "type": "header",
        "content": "Title settings"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 14
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 13
      },    
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },  
      {
        "type": "range",
        "id": "title_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 12
      },
      {
        "type": "range",
        "id": "title_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 10
      },
      {
        "type": "text_alignment",
        "id": "title_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "title_align_mobile",
        "label": "Alignment - mobile",
        "default": "center"
      },
      {
        "type": "checkbox",
        "id": "use_hover",
        "label": "Show title on hover",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "title_hide_mobile",
        "label": "Hide on mobile"
      },
      {
        "type": "header",
        "content": "Price settings"
      },
      {
        "type": "checkbox",
        "id": "use_price",
        "label": "Show price",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "price_compare",
        "label": "Show compare-at price",
        "default": true
      },
      {
        "type": "header",
        "content": "Product colors"
      },     
      {
        "type": "color",
        "label": "Image border",
        "id": "image_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Product title",
        "id": "title_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Price",
        "id": "price_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Compare-at price",
        "id": "price_original_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient",
        "info": "Remove gradient to replace with solid colors"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Section content width",
        "default": 1200
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "product",
            "label": "Product",
            "id": "product"
          },
          {
            "type": "image_picker",
            "label": "Image",
            "id": "custom_image",
            "info": "Leave blank to show product image"
          },
          {
            "type": "text",
            "id": "custom_title",
            "label": "Title",
            "default": "Product title",
            "info": "Leave blank to show product title"
          },
          {
            "type": "url",
            "id": "custom_url",
            "label": "Custom URL",
            "info": "Leave blank to show product URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Scrolling products #2",
        "blocks": [
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          }
        ]
      }
    ]
  }
{% endschema %}