{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign slideshow_height = section.settings.slideshow_height
  assign slideshow_fixed_height = section.settings.slideshow_fixed_height
  assign slideshow_fixed_height_mobile = section.settings.slideshow_fixed_height_mobile
  
  assign autoplay = section.settings.autoplay
  assign autoplay_delay = section.settings.autoplay_delay

  assign overlay = section.settings.overlay
  assign overlay_color = section.settings.overlay_color
  
  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect

  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_horizontal = section.settings.content_padding_horizontal

  assign content_horizontal_position_mobile = section.settings.content_horizontal_position_mobile

  assign text_align_mobile = ""
  if content_horizontal_position_mobile == "start"
    assign text_align_mobile = "left"
  elsif content_horizontal_position_mobile == "center"
    assign text_align_mobile = "center"
  else
  assign text_align_mobile = "right"
  endif

  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color

  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_mt = section.settings.button_mt
  assign button_mt_mobile = section.settings.button_mt_mobile
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style

  assign dots_size = section.settings.dots_size
  assign dots_size_mobile = section.settings.dots_size_mobile
  assign dots_show_desktop = section.settings.dots_show_desktop
  assign dots_show_mobile = section.settings.dots_show_mobile
  assign dots_color = section.settings.dots_color

  assign pagination_size = section.settings.pagination_size
  assign pagination_size_mobile = section.settings.pagination_size_mobile
  assign pagination_color = section.settings.pagination_color
  assign pagination_custom = section.settings.pagination_custom
  assign pagination_font = section.settings.pagination_font
  assign pagination_height = section.settings.pagination_height
  assign pagination_show_desktop = section.settings.pagination_show_desktop
  assign pagination_show_mobile = section.settings.pagination_show_mobile


  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_hide_mobile = section.settings.image_hide_mobile
  assign image_hide_desktop = section.settings.image_hide_desktop
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    height: 100%;
    position: relative;
  }

  .slideshow-slider-{{ section.id }} {
    height: 100%;
  }

  .slideshow-slider-{{ section.id }} .swiper-wrapper {
    align-items: stretch !important;
  }

  .slideshow-slide-{{ section.id }} {
    height: auto !important;
    box-sizing: border-box !important;
  }

  .slideshow-image-{{ section.id }} img,
  .slideshow-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  .slideshow-image-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .slideshow-image-{{ section.id }}:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: {{ overlay_color | hex_to_rgba: overlay }};
    z-index: 1;
  }

  .slideshow-content-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    position: relative;
    z-index: 2;
    height: 100%;
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
  }

  .slideshow-left-{{ section.id }} {
    transform: translateY(40px);
    transition: all 1s ease 1s;
    display: flex;
    flex-direction: column;
    align-items: {{ content_horizontal_position_mobile }};
  }

  .slideshow-slide-{{ section.id }}.swiper-slide-active .slideshow-left-{{ section.id }} {
    transform: translateY(0px);
    transition: all 1s ease 0.25s;
  }

  .slideshow-heading-{{ section.id }} {
    text-align: {{ text_align_mobile }};
  }

  .slideshow-heading-{{ section.id }} * {
    margin: 0px;
    font-size: {{ heading_size_mobile }}px;
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-decoration: none;
    color: {{ heading_color }};
  }

  .slideshow-heading-{{ section.id }} strong {
    color: {{ heading_color | hex_to_rgba: 0.6 }};
  }

  .slideshow-text-{{ section.id }} {
    margin-top: {{ text_mt_mobile }}px;
    text-align: {{ text_align_mobile }};
  }

  .slideshow-text-{{ section.id }} * {
    margin: 0px;
    font-size: {{ text_size_mobile }}px;
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-decoration: none;
    color: {{ text_color }};
  }

  .slideshow-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: fit-content;
    margin: 0;
    margin-top: {{ button_mt_mobile }}px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 0.25s ease 0s;
    position: relative;
    z-index: 2;
  }

  .slideshow-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .slideshow-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .slideshow-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .slideshow-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .slideshow-slide-images-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: end;
    gap: 16px;
    /* transform: translateY(40px); */
    transition: all 1s ease 0s;
    padding-bottom: 100px;
  }

  .slideshow-slide-image-{{ section.id }} {
    position: relative;
    z-index: 2;
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    overflow: hidden;
  }

  .slideshow-slide-image-{{ section.id }} img,
  .slideshow-slide-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slideshow-slide-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .slideshow-slide-image-{{ section.id }}:first-child {
    transform: rotate(-30deg) translate(40%, 230%);
    transition: all 0.5s ease 0s;
  }

  .slideshow-slide-{{ section.id }}.swiper-slide-active .slideshow-slide-image-{{ section.id }}:first-child {
    transform: rotate(-30deg) translate(40%, 20%);
    transition: all 0.5s ease 0s;
  }

  .slideshow-slide-image-{{ section.id }}:nth-child(2) {
    z-index: 3;
    transition: all 0.5s ease 0s;
    transform: translateY(230%);
  }

  .slideshow-slide-{{ section.id }}.swiper-slide-active .slideshow-slide-image-{{ section.id }}:nth-child(2) {
    transform: translateY(0%);
    transition: all 0.5s ease 0s;
  }

  .slideshow-slide-image-{{ section.id }}:last-child {
    transform: rotate(30deg) translate(-40%, 230%);
    transition: all 0.5s ease 0s;
  }

  .slideshow-slide-{{ section.id }}.swiper-slide-active .slideshow-slide-image-{{ section.id }}:last-child {
    transform: rotate(30deg) translate(-40%, 20%);
    transition: all 0.5s ease 0s;
  }

  .slideshow-btn-prev-{{ section.id }},
  .slideshow-btn-next-{{ section.id }} {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    display: flex;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15);
  }

  .slideshow-btn-prev-{{ section.id }} {
    left: 10px;
  }

  .slideshow-btn-next-{{ section.id }} {
    right: 10px;
  }

  .slideshow-btn-prev-{{ section.id }} .animate-icon,
  .slideshow-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .slideshow-btn-prev-{{ section.id }} .animate-icon:before,
  .slideshow-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .25s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .slideshow-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .slideshow-btn-prev-{{ section.id }} .animate-icon:after,
  .slideshow-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .25s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .slideshow-btn-prev-{{ section.id }} span,
  .slideshow-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .slideshow-btn-prev-{{ section.id }}.swiper-button-disabled,
  .slideshow-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }

  .slideshow-pagination-{{ section.id }} {
    position: absolute !important;
    bottom: 40px !important;
    left: 0 !important;
    width: 100% !important;
    gap: 5px;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .slideshow-pagination-{{ section.id }} .swiper-pagination-bullet {
    flex: 0 0 {{ dots_size_mobile }}px;
    width: {{ dots_size_mobile }}px;
    height: {{ dots_size_mobile }}px;
    background-color: {{ dots_color }} !important;
    transition: all 0.25s ease 0s;
    opacity: 0.8 !important;
    margin: 0px !important;
  }

  .slideshow-pagination-{{ section.id }} .swiper-pagination-bullet:hover {
    opacity: 1!important;
    transition: all 0.25s ease 0s;
  }

  .slideshow-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    padding: 2px !important;
    opacity: 1 !important;
    outline: 1px solid {{ dots_color }};
    outline-offset: 2px;
    transition: all 0.25s ease 0s;
  }

  .slideshow-number-pagination-{{ section.id }} {
    position: absolute;
    left: 50%;
    max-width: fit-content;
    transform: translateX(-50%);
    bottom: 5px;
    overflow: hidden;
    align-items: center;
    gap: 5px;
    z-index: 2;
  }

  .slideshow-number-pagination-{{ section.id }} * {
    margin: 0px;
    font-size: {{ pagination_size_mobile }}px;
    color: {{ pagination_color }};
    line-height: {{ pagination_height }}%;
    text-transform: unset;
  }

  .slideshow-desktop-image-{{ section.id }} {
    display: none !important;
  }

  .slideshow-mobile-image-{{ section.id }} {
    display: block !important;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .slideshow-content-{{ section.id }} {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .slideshow-left-{{ section.id }} {
      align-items: start;
    }

    .slideshow-images-{{ section.id }} {
      align-self: end;
    }

    .slideshow-heading-{{ section.id }} {
      text-align: start;
    }

    .slideshow-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .slideshow-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: start;
    }

    .slideshow-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .slideshow-button-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

    .slideshow-btn-prev-{{ section.id }},
    .slideshow-btn-next-{{ section.id }} {
      top: 50%;
      transform: translateY(-50%);
      bottom: unset;
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
    }

    .slideshow-btn-prev-{{ section.id }} .animate-icon:before,
    .slideshow-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .slideshow-btn-prev-{{ section.id }} .animate-icon:after,
    .slideshow-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }

    .slideshow-btn-prev-{{ section.id }} {
      left: 20px !important;
    }
  
    .slideshow-btn-next-{{ section.id }} {
      right: 20px !important;
    }

    .slideshow-pagination-{{ section.id }} {
      gap: 10px;
      bottom: 20px !important;
    }

    .slideshow-pagination-{{ section.id }} .swiper-pagination-bullet {
      width: {{ dots_size }}px;
      flex: 0 0 {{ dots_size }}px;
      height: {{ dots_size }}px;
    }

    .slideshow-number-pagination-{{ section.id }} {
      bottom: 20px;
      right: 20px;
      left: unset;
      transform: translateX(0);
    }

    .slideshow-number-pagination-{{ section.id }} * {
      font-size: {{ pagination_size }}px;
    }

    .slideshow-desktop-image-{{ section.id }} {
      display: block !important;
    }

    .slideshow-mobile-image-{{ section.id }} {
      display: none !important;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if slideshow_height == "adapt_first" %}
  <style>
    .slideshow-{{ section.id }} {
      height: 100vh;
    }
  </style>
{% elsif slideshow_height == "auto_height" %}
  <style>

   .slideshow-{{ section.id }} {
      height: auto;
    }

  </style>
{% else %}
  <style>
    .slideshow-{{ section.id }} {
      height: {{ slideshow_fixed_height_mobile }}px;
    }
  
    @media(min-width: 768px) {
      .slideshow-{{ section.id }} {
        height: {{ slideshow_fixed_height }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .slideshow-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .slideshow-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .slideshow-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if pagination_custom %}
  <style>
    .slideshow-number-pagination-{{ section.id }} * {
      font-family: {{ pagination_font.family }}, {{ pagination_font.fallback_families }};
      font-weight: {{ pagination_font.weight }};
      font-style: {{ pagination_font.style }};
    }
  </style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .slideshow-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
    }

    .slideshow-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .slideshow-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .slideshow-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .slideshow-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .slideshow-btn-prev-{{ section.id }}:hover,
    .slideshow-btn-next-{{ section.id }}:hover {
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .slideshow-btn-prev-{{ section.id }}:hover .animate-icon,
    .slideshow-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .slideshow-btn-prev-{{ section.id }}:hover,
    .slideshow-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .slideshow-btn-prev-{{ section.id }}:hover,
      .slideshow-btn-next-{{ section.id }}:hover {
        transform: scale(0.9) translateY(-50%);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .slideshow-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .slideshow-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .slideshow-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .slideshow-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .slideshow-btn-prev-{{ section.id }},
    .slideshow-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .slideshow-btn-prev-{{ section.id }},
    .slideshow-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-btn-prev-{{ section.id }},
      .slideshow-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-btn-prev-{{ section.id }},
      .slideshow-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if dots_show_mobile %}
  <style>
    .slideshow-pagination-{{ section.id }} {
      display: flex !important;
    }
  </style>
{% else %}
  <style>
    .slideshow-pagination-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% if dots_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-pagination-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-pagination-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

{% if pagination_show_mobile %}
  <style>
    .slideshow-number-pagination-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .slideshow-number-pagination-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if pagination_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-number-pagination-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-number-pagination-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .slideshow-slide-image-{{ section.id }} {
     aspect-ratio: 9.6/14; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .slideshow-slide-image-{{ section.id }}{
     aspect-ratio: 12/6; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .slideshow-slide-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else %}
  <style>
    .slideshow-slide-image-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .slideshow-slide-image-{{ section.id }} {
       aspect-ratio: 9.6/14; 
      } 
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-slide-image-{{ section.id }}{
       aspect-ratio: 12/6; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-slide-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-slide-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if image_hide_mobile %}
  <style>
    .slideshow-slide-images-{{ section.id }} {
      display: none;
    }

    @media(min-width: 1024px) {
      .slideshow-slide-images-{{ section.id }} {
        display: grid;
      }
    }
  </style>
{% endif %}
{% if image_hide_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slideshow-slide-images-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}
<div class="section-{{ section.id }} slideshow-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
        <div class="slideshow-slider-{{ section.id }} swiper">
            <div class="slideshow-pagination-{{ section.id }} swiper-pagination"></div>
            <div class="slideshow-number-pagination-{{ section.id }}">
              <span class="slideshow-current-{{ section.id }}">1</span><span>/</span><span>{{ section.blocks.size }}</span>
            </div>
            <button class="slideshow-btn-prev-{{ section.id }}">
              <span class="animate-icon"></span>
            </button>
            <button class="slideshow-btn-next-{{ section.id }}">
              <span class="animate-icon"></span>
            </button>
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="slideshow-slide-{{ section.id }} swiper-slide">
                      <div class="slideshow-image-{{ section.id }}">
                          {% if block.settings.image != blank %}
                              <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if block.settings.image_mobile != blank %}class="slideshow-desktop-image-{{ section.id }}"{% endif %}>
                          {% else %}
                              {{ 'image' | placeholder_svg_tag }}
                          {% endif %}
                          {% if block.settings.image_mobile != blank %}
                              <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} class="slideshow-mobile-image-{{ section.id }}">
                          {% endif %}
                      </div>

                      <div class="slideshow-content-{{ section.id }}">
                        <div class="slideshow-left-{{ section.id }}">
                          {% if block.settings.heading != blank %}
                            <div class="slideshow-heading-{{ section.id }}">
                              {{ block.settings.heading }}
                            </div>
                          {% endif %}

                          {% if block.settings.text != blank %}
                            <div class="slideshow-text-{{ section.id }}">
                              {{ block.settings.text }}
                            </div>
                          {% endif %}

                          {% if block.settings.button != blank %}
                            <a href="{{ block.settings.button_url }}" class="slideshow-button-{{ section.id }}">
                                <span>{{ block.settings.button }}</span>
                                {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                                    <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                                        <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                                    </svg>
                                {% endif %}
                            </a>
                          {% endif %}
                        </div>

                        <div class="slideshow-slide-images-{{ section.id }}">
                          <{% if block.settings.first_image_url != blank %}a href="{{ block.settings.first_image_url }}"{% else %}div{% endif %} class="slideshow-slide-image-{{ section.id }}">
                            {% if block.settings.first_image != blank %}
                              <img src="{{ block.settings.first_image | image_url }}" alt="{{ block.settings.first_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                            {% else %}
                              {{ 'image' | placeholder_svg_tag }}
                            {% endif %} 
                          </{% if block.settings.first_image_url != blank %}a{% else %}div{% endif %}>
                          

                          <{% if block.settings.second_image_url != blank %}a href="{{ block.settings.second_image_url }}"{% else %}div{% endif %} class="slideshow-slide-image-{{ section.id }}">
                            {% if block.settings.second_image != blank %}
                              <img src="{{ block.settings.second_image | image_url }}" alt="{{ block.settings.second_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                            {% else %}
                              {{ 'image' | placeholder_svg_tag }}
                            {% endif %} 
                          </{% if block.settings.second_image_url != blank %}a{% else %}div{% endif %}>

                          <{% if block.settings.third_image_url != blank %}a href="{{ block.settings.third_image_url }}"{% else %}div{% endif %} class="slideshow-slide-image-{{ section.id }}">
                            {% if block.settings.third_image != blank %}
                              <img src="{{ block.settings.third_image | image_url }}" alt="{{ block.settings.third_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                            {% else %}
                              {{ 'image' | placeholder_svg_tag }}
                            {% endif %} 
                          </{% if block.settings.third_image_url != blank %}a{% else %}div{% endif %}>
                          
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initSlideshow7{{ section.id | replace: '-', '' }}() {

    let current = document.querySelector('.slideshow-current-{{ section.id }}');
    
    const swiper{{ section.id | replace: '-', '' }} = new Swiper('.slideshow-slider-{{ section.id }}', {
      loop: true,
      speed: 1000,
      effect: "fade",
      fadeEffect: { crossFade: true },
      slidesPerView: 1,
      allowTouchMove: true,
      {% if autoplay %}
      autoplay: {
        delay: {{ autoplay_delay }}000,
        disableOnInteraction: false,
        pauseOnMouseEnter: false,
      },
      {% endif %}
      navigation: {
        nextEl: '.slideshow-btn-next-{{ section.id }}',
        prevEl: '.slideshow-btn-prev-{{ section.id }}',
      },
      pagination: {
        el: '.slideshow-pagination-{{ section.id }}',
        clickable: true
      },
      on: {
        slideChange: function() {
          var currentIndex = this.realIndex;
          currentIndex++;
          current.innerText = currentIndex;
        }
      }
    });
  }

  document.addEventListener('DOMContentLoaded', initSlideshow7{{ section.id | replace: '-', '' }});
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initSlideshow7{{ section.id | replace: '-', '' }});
     document.addEventListener('shopify:section:load', initSlideshow7{{ section.id | replace: '-', '' }});
  }
</script>

{% schema %}
  {
    "name": "SS - Slideshow #7",
    "settings": [
      {
        "type": "header",
        "content": "Save to display section correctly."
      },
      {
        "type": "header",
        "content": "Slideshow Settings"
      },
      {
        "type": "select",
        "id": "slideshow_height",
        "label": "Slideshow Height",
        "default": "adapt_first",
        "options": [
          {
            "label": "Adapt to first",
            "value": "adapt_first"
          },
          {
            "label": "Fixed Height",
            "value": "fixed_height"
          },
          {
            "label": "Auto Height",
            "value": "auto_height"
          }
        ]
      },
      {
        "type": "range",
        "id": "slideshow_fixed_height",
        "min": 200,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "Slideshow Fixed Height",
        "default": 600
      },
      {
        "type": "range",
        "id": "slideshow_fixed_height_mobile",
        "min": 100,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "Slideshow Fixed Height - Mobile",
        "default": 500
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Use Autoplay",
        "default":  true
      },
      {
        "type": "range",
        "id": "autoplay_delay",
        "min": 2,
        "max": 10,
        "step": 1,
        "unit": "s",
        "label": "Autoplay Delay",
        "default": 6
      },
      {
        "type": "range",
        "id": "overlay",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Overlay Opacity",
        "default": 0.2
      },
      {
        "type": "header",
        "content": "Content Settings"
      },
      {
        "type": "range",
        "id": "content_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Content Padding Vertical",
        "default": 64
      },
      {
        "type": "range",
        "id": "content_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Content Padding Vertical - Mobile",
        "default": 40
      },
      {
         "type": "range",
         "id": "content_padding_horizontal",
         "min": 0,
         "max": 150,
         "step": 2,
         "unit": "px",
         "label": "Content Padding Horizontal",
         "default": 110
      },
      {
         "type": "range",
         "id": "content_padding_horizontal_mobile",
         "min": 0,
         "max": 150,
         "step": 2,
         "unit": "px",
         "label": "Content Padding Horizontal - Mobile",
         "default": 20
      },
      {
        "type": "select",
        "id": "content_horizontal_position_mobile",
        "label": "Content Horizontal Position - Mobile",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "end"
          }
        ]
      },
      {
        "type": "header",
        "content": "Heading Settings"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Heading Size",
        "default": 72
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Heading Size - Mobile",
        "default": 40
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Heading Line Height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Text Settings"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 18
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Text Size - Mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Text Line Height",
        "default": 150
      },
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Text Margin Top",
        "default": 24
      },
      {
        "type": "range",
        "id": "text_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Text Margin Top - Mobile",
        "default": 20
      },
      {
        "type": "header",
        "content": "Button Settings"
      },
      {
        "type": "checkbox",
        "id": "button_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "button_font",
        "label": "Button Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "button_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Button Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "button_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Button Size - Mobile",
        "default": 15
      },
      {
        "type": "range",
        "id": "button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Button Line Height",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Margin Top",
        "default": 32
      },
      {
        "type": "range",
        "id": "button_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Margin Top - Mobile",
        "default": 24
      },
      {
        "type": "range",
        "id": "button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Padding Vertical",
        "default": 16
      },
      {
        "type": "range",
        "id": "button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Padding Vertical - Mobile",
        "default": 16
      },
      {
         "type": "range",
         "id": "button_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Padding Horizontal",
         "default": 32
      },
      {
         "type": "range",
         "id": "button_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Padding Horizontal - Mobile",
         "default": 32
      },
      {
         "type": "range",
         "id": "button_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Border Radius",
         "default": 100
      },
      {
         "type": "range",
         "id": "button_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Button Border Thickness",
         "default": 1
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button Style",
        "default": "non_outline",
        "options": [
          {
            "label": "Link",
            "value": "link"
          },
          {
            "label": "Non-Outline",
            "value": "non_outline"
          },
          {
            "label": "Non-Outline & Arrow",
            "value": "non_outline_arrow"
          },
          {
            "label": "Outline",
            "value": "outline"
          },
          {
            "label": "Outline & Arrow",
            "value": "outline_arrow"
          }
        ]
      },
      {
        "type": "header",
        "content": "Image Settings"
      },
       {
         "type": "range",
         "id": "image_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Image Roundness",
         "default": 12
      },
      {
         "type": "range",
         "id": "image_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Image Border Thickness",
         "default": 0
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Image Aspect Ratio - Mobile",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "image_hide_mobile",
        "label": "Hide Images on Mobile"
      },
      {
        "type": "checkbox",
        "id": "image_hide_desktop",
        "label": "Hide Images on Desktop"
      },      
      {
        "type": "header",
        "content": "Arrow Settings"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Size",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Size - Mobile",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Arrow Icon Size",
        "default": 8
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Arrow Icon Size - Mobile",
        "default": 8
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Arrow Border Thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Roundness",
        "default": 100
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Arrow Hover Effect",
        "default": "color",
        "options": [
          {
            "label": "Change Color",
            "value": "color"
          },
          {
            "label": "Change Size",
            "value": "scale"
          },
          {
            "label": "Change Arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Dots Settings"
      },
      {
        "type": "range",
        "id": "dots_size",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Dots Size",
        "default": 14
      },
      {
        "type": "range",
        "id": "dots_size_mobile",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Dots Size - Mobile",
        "default": 14
      },
      {
        "type": "checkbox",
        "id": "dots_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "dots_show_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Number Pagination Settings"
      },
      {
        "type": "checkbox",
        "id": "pagination_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "pagination_font",
        "label": "Pagination Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "pagination_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Pagination Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "pagination_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Pagination Size - Mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "pagination_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Pagination Line Height",
        "default": 130
      },
      {
        "type": "checkbox",
        "id": "pagination_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "pagination_show_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Slide Colors"
      },
      {
        "type": "color",
        "label": "Heading color",
        "id": "heading_color",
        "info": "Use bold text for a transparency",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Text color",
        "id": "text_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Image Border Color",
        "id": "image_border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Button Colors"
      },
      {
        "type": "color",
        "label": "Button Text Color",
        "id": "button_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Button Hover Text Color",
        "id": "button_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Button Background Color",
        "id": "button_bg_color",
        "default": "#434343"
      },
      {
        "type": "color",
        "label": "Button Background Hover Color",
        "id": "button_bg_hover_color",
        "default": "#232323"
      },
      {
        "type": "color",
        "label": "Button Border Color",
        "id": "button_border_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Button Border Hover Color",
        "id": "button_border_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Navigation Colors"
      },
      {
        "type": "color",
        "label": "Arrow color",
        "id": "arrow_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Arrow Hover color",
        "id": "arrow_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Background color",
        "id": "arrow_bg_color",
        "default": "#232323"
      },
      {
        "type": "color",
        "label": "Arrow Background Hover color",
        "id": "arrow_bg_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Arrow Border color",
        "id": "arrow_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Border Hover color",
        "id": "arrow_border_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Dots Color",
        "id": "dots_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Pagination Number Color",
        "id": "pagination_color",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Overlay Color",
        "id": "overlay_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image - Mobile"
          },
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<h1>Slide <strong>heading</strong></h1>",
            "info": "Use bold text for a transparency"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>And optional subtext</p>"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button Text",
            "default": "Shop Now"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          },
          {
            "type": "image_picker",
            "id": "first_image",
            "label": "First Image"
          },
          {
            "type": "url",
            "id": "first_image_url",
            "label": "First Image URL"
          },
          {
            "type": "image_picker",
            "id": "second_image",
            "label": "Second Image"
          },
          {
            "type": "url",
            "id": "second_image_url",
            "label": "Second Image URL"
          },
          {
            "type": "image_picker",
            "id": "third_image",
            "label": "Third Image"
          },
          {
            "type": "url",
            "id": "third_image_url",
            "label": "Third Image URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Slideshow #7",
        "blocks": [
          {
            "type": "slide",
            "settings": {
              "heading": "<h1>Slide <strong>heading</strong></h1>",
              "text": "<p>And optional subtext</p>"
            }
          },
          {
            "type": "slide",
            "settings": {
              "heading": "<h1>Slide <strong>heading</strong></h1>",
              "text": "<p>And optional subtext</p>"
            }
          },
          {
            "type": "slide",
            "settings": {
              "heading": "<h1>Slide <strong>heading</strong></h1>",
              "text": "<p>And optional subtext</p>"
            }
          }
        ]
      }
    ]
  }
{% endschema %}