{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile

  assign card_padding_bottom = section.settings.card_padding_bottom
  assign card_padding_bottom_mobile = section.settings.card_padding_bottom_mobile
  assign card_padding_top = section.settings.card_padding_top
  assign card_padding_top_mobile = section.settings.card_padding_top_mobile
  assign card_radius = section.settings.card_radius
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_shadow = section.settings.card_shadow
  assign card_height = section.settings.card_height

  assign content_horizontal_align_mobile = section.settings.content_horizontal_align_mobile
  assign content_horizontal_align = section.settings.content_horizontal_align
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_horizontal = section.settings.content_padding_horizontal

  assign text_align = ""
  if content_horizontal_align == "start"
    assign text_align = "left"
  elsif content_horizontal_align == "center"
    assign text_align = "center"
  else
    assign text_align = "right"
  endif

  assign text_align_mobile = ""
  if content_horizontal_align_mobile == "start"
    assign text_align_mobile = "left"
  elsif content_horizontal_align_mobile == "center"
    assign text_align_mobile = "center"
  else
    assign text_align_mobile = "right"
  endif

  assign tag_size = section.settings.tag_size
  assign tag_size_mobile = section.settings.tag_size_mobile
  assign tag_custom = section.settings.tag_custom
  assign tag_font = section.settings.tag_font
  assign tag_height = section.settings.tag_height

  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_mt = section.settings.heading_mt
  assign heading_mt_mobile = section.settings.heading_mt_mobile

  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign image_mt = section.settings.image_mt
  assign image_mt_mobile = section.settings.image_mt_mobile
  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_padding_horizontal_mobile = section.settings.image_padding_horizontal_mobile
  assign image_padding_horizontal = section.settings.image_padding_horizontal

  assign pagination_padding_vertical = section.settings.pagination_padding_vertical
  assign pagination_padding_vertical_mobile = section.settings.pagination_padding_vertical_mobile
  assign pagination_padding_horizontal = section.settings.pagination_padding_horizontal
  assign pagination_padding_horizontal_mobile = section.settings.pagination_padding_horizontal_mobile
  assign pagination_radius = section.settings.pagination_radius
  assign pagination_border_thickness = section.settings.pagination_border_thickness
  assign pagination_border_color = section.settings.pagination_border_color
  assign pagination_bg_color = section.settings.pagination_bg_color
  assign pagination_size = section.settings.pagination_size
  assign pagination_size_mobile = section.settings.pagination_size_mobile
  assign pagination_color = section.settings.pagination_color
  assign pagination_custom = section.settings.pagination_custom
  assign pagination_font = section.settings.pagination_font
  assign pagination_height = section.settings.pagination_height
  assign pagination_show_desktop = section.settings.pagination_show_desktop
  assign pagination_show_mobile = section.settings.pagination_show_mobile

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect
  
-%}

{%- style -%}

  {{  tag_font | font_face: font_display: 'swap' }}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  {{ pagination_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .slider-slider-{{ section.id }} {
    margin-top: {{ slider_mt_mobile }}px;
    overflow: visible !important;
  }

  .slider-slide-{{ section.id }} {
    padding: {{ card_padding_top_mobile }}px 0px {{ card_padding_bottom_mobile }}px 0px;
    border-radius: {{ card_radius }}px;
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    overflow: hidden;
    box-sizing: border-box !important;
    text-decoration: none;
    transition: all 0.25s ease 0s;
  }

  .slider-slide-{{ section.id }}:hover {
    transition: all 0.25s ease 0s;
    transform: scale(1.02);
  }

  .slider-content-{{ section.id }} {
    display: flex !important;
    flex-direction: column;
    padding: 0px {{ content_padding_horizontal_mobile }}px;
    align-items: {{ content_horizontal_align_mobile }};
  }

  .slider-tag-{{ section.id }} {
    width: 100%;
    text-align: {{ text_align_mobile }};
    margin: 0;
    font-size: {{ tag_size_mobile }}px;
    line-height: {{ tag_height }}%;
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }
  
  .slider-heading-{{ section.id }} {
    width: 100%;
    margin-top: {{ heading_mt_mobile }}px;
    text-align: {{ text_align_mobile }};
  }

  .slider-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    line-height: {{ heading_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .slider-text-{{ section.id }} {
    width: 100%;
    margin-top: {{ text_mt_mobile }}px;
    text-align: {{ text_align_mobile }};
  }

  .slider-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    line-height: {{ text_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .slider-image-{{ section.id }} {
    overflow: hidden;
    margin: 0px {{ image_padding_horizontal_mobile }}px;
    margin-top: {{ image_mt_mobile }}px;
  }

  .slider-image-{{ section.id }} img,
  .slider-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
  }

  .slider-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .slider-navigation-{{ section.id }} {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
  }

  .slider-pagination-{{ section.id }} {
    padding: {{ pagination_padding_vertical_mobile }}px {{ pagination_padding_horizontal_mobile }}px;
    border-radius: {{ pagination_radius }}px;
    backdrop-filter: blur(5px);
    border: {{ pagination_border_thickness }}px solid {{ pagination_border_color }};
    background-color: {{ pagination_bg_color | hex_to_rgba: 0.3 }};
    overflow: hidden;
    align-items: center;
    gap: 5px;
  }

  .slider-pagination-{{ section.id }} * {
    margin: 0px;
    font-size: {{ pagination_size_mobile }}px;
    color: {{ pagination_color }};
    line-height: {{ pagination_height }}%;
    text-transform: unset;
  }

  .slider-buttons-{{ section.id }} {
    align-items: center;
    gap: 16px;
  }

  .slider-btn-prev-{{ section.id }},
  .slider-btn-next-{{ section.id }} {
    display: flex;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color | hex_to_rgba: 0.3 }};
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15);
  }

  .slider-btn-prev-{{ section.id }} .animate-icon,
  .slider-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:before,
  .slider-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease-in-out;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:after,
  .slider-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease-in-out;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .slider-btn-prev-{{ section.id }} span,
  .slider-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
    transition: all 0.3s ease 0s;
  }

  .slider-btn-prev-{{ section.id }}.swiper-button-disabled,
  .slider-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .slider-slider-{{ section.id }} {
      margin-top: {{ slider_mt }}px;
    }

    .slider-slide-{{ section.id }} {
      padding: {{ card_padding_top }}px 0px {{ card_padding_bottom }}px 0px;
    }

    .slider-content-{{ section.id }} {
      padding: 0px {{ content_padding_horizontal }}px;
      align-items: {{ content_horizontal_align }};
    }

    .slider-tag-{{ section.id }} {
      text-align: {{ text_align }};
      font-size: {{ tag_size }}px;
    }

    .slider-heading-{{ section.id }} {
      margin-top: {{ heading_mt }}px;
      text-align: {{ text_align }};
    }
    
    .slider-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .slider-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ text_align }};
    }
    
    .slider-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .slider-image-{{ section.id }} {
      margin: 0px {{ image_padding_horizontal }}px;
      margin-top: {{ image_mt }}px;
    }

    .slider-pagination-{{ section.id }} {
      padding: {{ pagination_padding_vertical }}px {{ pagination_padding_horizontal }}px;
    }

    .slider-pagination-{{ section.id }} * {
      font-size: {{ pagination_size }}px;
    }

    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .slider-btn-prev-{{ section.id }} .animate-icon:before,
    .slider-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .slider-btn-prev-{{ section.id }} .animate-icon:after,
    .slider-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if tag_custom %}
  <style>
    .slider-tag-{{ section.id }} {
      font-family: {{ tag_font.family }}, {{ tag_font.fallback_families }};
      font-weight: {{ tag_font.weight }};
      font-style: {{ tag_font.style }};
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .slider-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .slider-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if pagination_custom %}
  <style>
    .slider-pagination-{{ section.id }} * {
      font-family: {{ pagination_font.family }}, {{ pagination_font.fallback_families }};
      font-weight: {{ pagination_font.weight }};
      font-style: {{ pagination_font.style }};
    }
  </style>
{% endif %}

{% if card_shadow %}
  <style>
    .slider-slide-{{ section.id }} {
      box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .slider-buttons-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .slider-buttons-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slider-buttons-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slider-buttons-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if pagination_show_mobile %}
  <style>
    .slider-pagination-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .slider-pagination-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if pagination_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slider-pagination-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slider-pagination-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .slider-image-{{ section.id }} {
     aspect-ratio: 9.6/12; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .slider-image-{{ section.id }}{
     aspect-ratio: 12/6; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .slider-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else %}
  <style>
    .slider-image-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .slider-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
      } 
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .slider-image-{{ section.id }}{
       aspect-ratio: 12/6; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .slider-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slider-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .slider-btn-prev-{{ section.id }}:hover,
    .slider-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .slider-btn-prev-{{ section.id }}:hover .animate-icon,
    .slider-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
      transition: all 0.3s ease 0s;
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .slider-btn-prev-{{ section.id }}:hover,
    .slider-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .slider-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .slider-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .slider-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .slider-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if card_height %}
  <style>
    .slider-slider-{{ section.id }} .swiper-wrapper {
      align-items: stretch !important;
    }
    
    .slider-slide-{{ section.id }} {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      height: auto !important;
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    .slider-slide-{{ block.id }} {
      background-color: {{ block.settings.card_bg_color }};
      border: {{ card_border_thickness }}px solid {{ block.settings.card_border_color }};
    }

    .slider-slide-{{ block.id }} .slider-tag-{{ section.id }} {
      color: {{ block.settings.tag_color }};
    }

    .slider-slide-{{ block.id }} .slider-heading-{{ section.id }} * {
      color: {{ block.settings.heading_color }};
    }

    .slider-slide-{{ block.id }} .slider-text-{{ section.id }} * {
      color: {{ block.settings.text_color }};
    }

    .slider-slide-{{ block.id }} .slider-image-{{ section.id }} {
      border: {{ image_border_thickness }}px solid {{ block.settings.image_border_color }};
    }
  </style>
{% endfor %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .slider-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }} {
    width: 100%;
  }

  .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }}:not(:first-child) {
    margin-left: {{ slider_gap_mobile }}px;
  } 

  @media(min-width: 1024px) {
    .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    } 

    .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }} {
      width: calc(100% / {{ slider_view }} - ({{ slider_gap }}px * {{ slider_view | minus: 1 }}));
    }
  }
</style>


<div class="section-{{ section.id }} slider-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="slider-navigation-{{ section.id }}">
        <div class="slider-pagination-{{ section.id }}">
          <span class="slider-current-{{ section.id }}">1</span><span>/</span><span>{{ section.blocks.size }}</span>
        </div>
        <div class="slider-buttons-{{ section.id }}">
          <button class="slider-btn-prev-{{ section.id }}">
            <span class="animate-icon"></span>
          </button>
          <button class="slider-btn-next-{{ section.id }}">
            <span class="animate-icon"></span>
          </button>
        </div>
      </div>

      <div class="slider-slider-{{ section.id }} swiper preview">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="slider-slide-{{ section.id }} slider-slide-{{ block.id }} swiper-slide">
              
              <div class="slider-content-{{ section.id }}">
                
                {% if block.settings.tag != blank %}
                  <p class="slider-tag-{{ section.id }}">{{ block.settings.tag }}</p>
                {% endif %}
  
                {% if block.settings.heading != blank %}
                  <div class="slider-heading-{{ section.id }}">
                    {{ block.settings.heading }}
                  </div>
                {% endif %}
  
                {% if block.settings.text != blank %}
                  <div class="slider-text-{{ section.id }}">
                    {{ block.settings.text }}
                  </div>
                {% endif %}

              </div>

              <div class="slider-image-{{ section.id }}">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
                </div>
            </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
          {% endfor %}
        </div>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
  function initScrollingProducts() {
    document.querySelector(".slider-slider-{{ section.id }}").classList.remove("preview");
    let current = document.querySelector('.slider-current-{{ section.id }}');
    
    const slider = new Swiper(".slider-slider-{{ section.id }}", {
      spaceBetween: 20,
      loop: true,
      centeredSlides: true,
      navigation: {
        nextEl: '.slider-btn-next-{{ section.id }}',
        prevEl: '.slider-btn-prev-{{ section.id }}',
      },
      breakpoints: {
        320: {
          speed: 600,
          spaceBetween: {{ slider_gap_mobile }},
          slidesPerView: {{ slider_view_mobile }}
        },
        768: {
          speed: 600,
          spaceBetween: {{ slider_gap_mobile }},
          slidesPerView: {{ slider_view | times: 0.5 | round: 0 }}
        },
        1024: {
          speed: 300,
          spaceBetween: {{ slider_gap }},
          slidesPerView: {{ slider_view }}
        }
      },
      on: {
        slideChange: function() {
          var currentIndex = this.realIndex;
          currentIndex++;
          current.innerText = currentIndex;
        }
      }
    });
  }

  document.addEventListener('DOMContentLoaded', initScrollingProducts);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initScrollingProducts);
     document.addEventListener('shopify:section:load', initScrollingProducts);
  }
</script>

{% schema %}
  {
    "name": "SS - Slider #7",
    "settings": [
      {
        "type": "header",
        "content": "Save to display section correctly."
      },
      {
        "type": "header",
        "content": "Slider Settings"
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 1,
        "max": 6,
        "step": 0.1,
        "label": "Slider Per View",
        "default": 3
      },
      {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 3,
        "step": 0.1,
        "label": "Slider Per View - Mobile",
        "default": 1.3
      },
      {
        "type": "range",
        "id": "slider_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Gap",
        "default": 30
      },
      {
        "type": "range",
        "id": "slider_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Gap - Mobile",
        "default": 30
      },
      {
        "type": "range",
        "id": "slider_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Margin Top",
        "default": 24
      },
      {
        "type": "range",
        "id": "slider_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Margin Top - Mobile",
        "default": 20
      },
      {
        "type": "header",
        "content": "Card Settings"
      },
      {
          "type": "range",
          "id": "card_padding_top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Card Padding Top",
          "default": 30
      },
      {
          "type": "range",
          "id": "card_padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Card Padding Top - Mobile",
          "default": 30
      },
      {
          "type": "range",
          "id": "card_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Card Padding Bottom",
          "default": 30
      },
      {
          "type": "range",
          "id": "card_padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Card Padding Bottom - Mobile",
          "default": 30
      },
      {
          "type": "range",
          "id": "card_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Card Border Radius",
          "default": 12
      },
      {
          "type": "range",
          "id": "card_border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Card Border Thickness",
          "default": 0
      },
      {
        "type": "checkbox",
        "id": "card_shadow",
        "label": "Card Shadow",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "card_height",
        "label": "Card Same Height"
      },
      {
        "type": "header",
        "content": "Content Settings"
      },
            {
        "type": "select",
        "id": "content_horizontal_align",
        "label": "Card Content Horizontal Align",
        "default": "start",
        "options": [
            {
                "label": "Left",
                "value": "start"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "end"
            }
        ]
      },
      {
        "type": "select",
        "id": "content_horizontal_align_mobile",
        "label": "Card Content Horizontal Align - Mobile",
        "default": "start",
        "options": [
            {
                "label": "Left",
                "value": "start"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "end"
            }
        ]
      },
      {
          "type": "range",
          "id": "content_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Content Padding Horizontal",
          "default": 30
      },
      {
          "type": "range",
          "id": "content_padding_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Content Padding Horizontal - Mobile",
          "default": 30
      },
      {
        "type": "header",
        "content": "Card Tag Settings"
      },
      {
        "type": "checkbox",
        "id": "tag_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "tag_font",
        "label": "Tag Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "tag_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Tag Size",
        "default": 12
      },
      {
        "type": "range",
        "id": "tag_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Tag Size - Mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "tag_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Tag Line Height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Card Heading Settings"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size",
        "default": 28
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size - Mobile",
        "default": 28
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Heading Line Height",
        "default": 130
      },
      {
        "type": "range",
        "id": "heading_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Heading Margin Top",
        "default": 12
      },
      {
        "type": "range",
        "id": "heading_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Heading Margin Top - Mobile",
        "default": 12
      },
      {
        "type": "header",
        "content": "Card Text Settings"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 17
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Text Size - Mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Text Line Height",
        "default": 130
      },
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Text Margin Top",
        "default": 20
      },
      {
        "type": "range",
        "id": "text_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Text Margin Top - Mobile",
        "default": 20
      },
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "type": "range",
        "id": "image_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Image Margin Top",
        "default": 20
      },
      {
        "type": "range",
        "id": "image_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Image Margin Top - Mobile",
        "default": 20
      },
      {
         "type": "range",
         "id": "image_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Image Roundness",
         "default": 12
      },
      {
         "type": "range",
         "id": "image_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Image Border Thickness",
         "default": 0
      },
      {
          "type": "range",
          "id": "image_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Image Padding Horizontal",
          "default": 30
      },
      {
          "type": "range",
          "id": "image_padding_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Image Padding Horizontal - Mobile",
          "default": 30
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Image Aspect Ratio - Mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "header",
        "content": "Pagination Settings"
      },
      {
          "type": "range",
          "id": "pagination_padding_vertical",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Pagination Padding Vertical",
          "default": 10
      },
      {
          "type": "range",
          "id": "pagination_padding_vertical_mobile",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Pagination Padding Vertical - Mobile",
          "default": 10
      },
      {
          "type": "range",
          "id": "pagination_padding_horizontal",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Pagination Padding Horizontal",
          "default": 10
      },
      {
          "type": "range",
          "id": "pagination_padding_horizontal_mobile",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Pagination Padding Horizontal - Mobile",
          "default": 10
      },
      {
          "type": "range",
          "id": "pagination_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Pagination Border Radius",
          "default": 10
      },
      {
          "type": "range",
          "id": "pagination_border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Pagination Border Thickness",
          "default": 0
      },
      {
        "type": "checkbox",
        "id": "pagination_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "pagination_font",
        "label": "Pagination Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "pagination_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Pagination Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "pagination_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Pagination Size - Mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "pagination_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Pagination Line Height",
        "default": 130
      },
      {
        "type": "checkbox",
        "id": "pagination_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "pagination_show_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Arrow Settings"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Size",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Size - Mobile",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Arrow Icon Size",
        "default": 8
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Arrow Icon Size - Mobile",
        "default": 8
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Arrow Border Thickness",
        "default": 1
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Roundness",
        "default": 100
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Arrow Hover Effect",
        "default": "color",
        "options": [
          {
            "label": "Change Color",
            "value": "color"
          },
          {
            "label": "Change Size",
            "value": "scale"
          },
          {
            "label": "Change Arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Pagination Colors"
      },
      {
        "type": "color",
        "label": "Pagination Background Color",
        "id": "pagination_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Pagination Border Color",
        "id": "pagination_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Pagination Color",
        "id": "pagination_color",
        "default": "#969696"
      },
      {
        "type": "header",
        "content": "Arrows Colors"
      },
      {
        "type": "color",
        "label": "Arrow color",
        "id": "arrow_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Hover color",
        "id": "arrow_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Background color",
        "id": "arrow_bg_color",
        "default": "#F8F8F8"
      },
      {
        "type": "color",
        "label": "Arrow Background Hover color",
        "id": "arrow_bg_hover_color",
        "default": "#FAFAFA"
      },
      {
        "type": "color",
        "label": "Arrow Border color",
        "id": "arrow_border_color",
        "default": "#EAEAEA"
      },
      {
        "type": "color",
        "label": "Arrow Border Hover color",
        "id": "arrow_border_hover_color",
        "default": "#CBCBCB"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#F5F5F5"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "text",
            "id": "tag",
            "label": "Tag",
            "default": "NEW"
          },
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<h3>Card Heading</h3>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Card Text</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          },
          {
            "type": "header",
            "content": "Card Colors"
          },
          {
            "type": "color",
            "label": "Card Background Color",
            "id": "card_bg_color",
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "label": "Card Border Color",
            "id": "card_border_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Card Tag Color",
            "id": "tag_color",
            "default": "#6e6e73"
          },
          {
            "type": "color",
            "label": "Card Heading Color",
            "id": "heading_color",
            "default": "#1d1d1f"
          },
          {
            "type": "color",
            "label": "Card Text Color",
            "id": "text_color",
            "default": "#1d1d1f"
          },
          {
            "type": "color",
            "label": "Card Image Border Color",
            "id": "image_border_color",
            "default": "#000000"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Slider #7",
        "blocks": [
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          }
        ]
      }
    ]
  }
{% endschema %}